{% extends "base.html" %}
{% block titulo %} Página Principal {% endblock %}
{% block conteudo %}

<div class="bg-light border rounded-3 p-3">
    <h2>Main</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus fuga voluptatum, earum asperiores ullam optio odit iure nobis aut placeat quasi expedita sequi dolorem praesentium cupiditate dolores mollitia, rerum deserunt dolorum cum nam? Dolore esse ex harum ducimus labore itaque, saepe nihil veniam ad atque fuga architecto rerum incidunt, hic magnam. Facilis culpa consectetur quam omnis reprehenderit aliquid optio aperiam consequuntur neque sapiente dicta repellat cum ipsam numquam sed fugit ipsa consequatur mollitia dolor nostrum in, voluptatum tenetur! Voluptas, libero.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur asperiores rem adipisci architecto ipsam dolore, culpa maxime facere. Voluptates ullam aut nihil cum. Facere dicta enim excepturi expedita, sed, earum recusandae provident vel porro nam magnam blanditiis sapiente optio facilis rem sit? Doloribus, facilis labore illum beatae explicabo ipsum consectetur amet inventore quo aliquid illo error quam? Sequi consequuntur eos eum maiores impedit blanditiis, dolores, rem, qui et pariatur facere unde illum temporibus accusamus ea. Accusamus, adipisci. Error, aliquam ipsum?</p>
    <hr />
    <h4>Teste1</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique exercitationem cupiditate quibusdam officia iste quae temporibus pariatur quam ipsam? Tempore earum reiciendis impedit doloremque provident nemo fuga iusto aliquid repellendus sunt, accusamus vel dolor assumenda quibusdam, inventore, non corporis aspernatur.</p>
    <hr />
    <h4>Teste2</h4>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id consequuntur, provident magni ex, ea at maxime laboriosam quam velit alias vel ad, nulla quasi autem dolores iusto quae molestiae officia animi. Ducimus corrupti doloribus, repellendus autem rem tempora quo necessitatibus harum temporibus impedit eveniet animi fugiat quas ut provident consectetur! Beatae ratione in reprehenderit, consequuntur ducimus nam, laborum ad vero voluptatum unde modi, ab inventore atque sequi. Minima excepturi eos esse sit at necessitatibus ea rerum aspernatur reiciendis laborum debitis ratione dolorem, dignissimos perferendis odit facilis voluptatem aliquam voluptate cum in maiores unde quod? Laudantium repudiandae libero illum officiis ut.</p>
</div>
{% endblock %}
