{% extends "base.html" %}
{% block css %}<link href="static/css/estilos.css" rel="stylesheet">{% endblock %}
{% block titulo %}Login Sistema{% endblock %}
{% block conteudo %}
<div class="d-flex align-items-center justify-content-center bg-light" style="min-height: 100vh;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header text-center bg-primary text-white">
                        <h4>Login</h4>
                    </div>
                    <div class="card-body">
                        <form action="/post_login" method="post">
                            
                            <!-- Campo de Email -->
                            <div class="form-group mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input 
                                    type="email" 
                                    class="form-control" 
                                    id="email" 
                                    name="email" 
                                    required 
                                    placeholder="Digite seu email">
                            </div>
                            
                            <!-- Campo de Senha -->
                            <div class="form-group mb-4">
                                <label for="senha" class="form-label">Senha</label>
                                <input 
                                    type="password" 
                                    class="form-control" 
                                    id="senha" 
                                    name="senha" 
                                    required 
                                    placeholder="Digite sua senha">
                            </div>
                            
                            <!-- Botão de Enviar -->
                            <button 
                                type="submit" 
                                class="btn btn-primary w-100">login</button>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <small>Não tem uma conta? <a href="/cadastro" class="text-primary">Cadastre-se</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
