{% extends "base.html" %}
{% block css %}<link href="static/css/estilos.css" rel="stylesheet">{% endblock %}
{% set ativo = '/sobre' %}
{% block titulo %} Sobre Nós {% endblock %}
{% block conteudo %}

<h2 class="titulo-centro">Quem Somos?</h2>
<div class="text-center">
    <br>
    <img src="universal.jpg" alt="Nós" class="img-fluid img-custom mb-2">
    <hr>
    <p class="text-center"> Em uma jornada que transcende linhas de código e datas de entrega, quatro
        programadores se uniram para criar o SUSNET. Com habilidades que variam de algoritmos complexos
        a um coração apaixonado pela inovação, esses meros gafanhotos da programação transformaram
        sonhos em realidade. Cada um, com sua própria expertise, contribuindo para um objetivo comum:
        criar um projeto integrador voltado a saúde pública através da tecnologia. Juntos, eles são a definição
        de trabalho em equipe, empenho e a busca incessante por um futuro melhor para a raça humana,
        pois sua natureza é sempre avançar.
</div>