{% extends "base.html" %}
{% block css %} <link rel="stylesheet" href="static/css/perfil.css"> {% endblock %}
{% block titulo %} Perfil {% endblock %}
{% block conteudo %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="static\img\user\user.png" alt="Foto do Usuário" class="rounded-circle mb-3" width="150">
            <h3>{{ usuario.nome }}</h3>
            <p class="text-muted">{{ usuario.tipo_usuario }}</p>
            <p class="text-muted">{{ usuario.id }}</p>
            <div class="d-grid gap-2">
                <a class="btn btn-primary" href="/perfil_editar" >Editar</a>
                
                {% if usuario.tipo_usuario == 'admin' %}
                    <button class="btn btn-outline-danger" disabled >Excluir</button>
                {% else %}
                    <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                        Excluir
                    </button>
                {% endif %}
            </div>
            <br>    
        </div>
        <div class="col-md-8">
            <h4 class="mb-3">Detalhes do Perfil</h4>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">Nome Completo</th>
                        <td>{{ usuario.nome }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{ usuario.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Telefone</th>
                        <td>{{ usuario.telefone }}</td>
                    </tr>
                    <tr>
                        <th scope="row">CPF</th>
                        <td>{{ usuario.cpf }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Tipo</th>
                        <td>{{ usuario.tipo_usuario }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmação de Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Tem certeza de que deseja excluir o usuário <strong>{{ usuario.nome }}</strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form id="deleteUserForm" method="post" action="/excluir">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </div>
            
            </div>
        </div>
    </div>
</div>
{% endblock %}
